.text-alex_brush {
  font-family: "Alex Brush";
}
.text-fjord_one {
  font-family: "Fjord One";
}
.text-allura {
    font-family: "Allura";
  }
.bg-auth_cover{
    background: linear-gradient(180deg,#f6bcff,#f6bcff,#ffffff);
}