#art{
    width: 20rem;
    margin: 3rem 1.5rem;
    height: 28rem;
    padding: 1rem;
    border: 1px solid purple;
    box-shadow: 2px 3px 2px darkcyan;
    border-radius: 0.4rem;
}
#art>div>p:first-of-type{
    font-size: 1rem;
    width: fit-content;
    margin: 0.4rem auto;
    color: darkcyan;
}
#art_desc{
    margin: 1rem 0;
    height: 6rem;
    overflow-y: scroll;
    text-align: justify;
}
.author_name{
    color: black;
    font-size: 0.9rem;
    text-align: right;
    text-decoration: underline;
    font-weight: 200;
}
.hide_controles{
    display: none;
}
.no-scrollbar::-webkit-scrollbar{
    display: none;
}
@media (max-width:600px) {
    #art{
        width: 70vw;
        height: fit-content;
    }
}

