#art_demo {
  margin: auto;
  width: 90vw;
  height: fit-content;
  position: relative;
}

.slide_btn {
  width: fit-content;
  background: none;
  color: white;
  background-color: darkcyan;
  font-size: 3rem;
  font-weight: 900;
  position: absolute;
  top: auto;
  bottom: auto;
  text-shadow: 2px 2px 3px darkcyan;
  top: 40vh;
  cursor: pointer;
  border-radius: 0.4rem;
  padding: 0.1rem 0.6rem;
}
#right_indicator {
  left: -1rem;
  z-index: 1;
}
#left_indicator {
  right: -1rem;
  z-index: 1;
}
#art_container {
  display: flex;
  width: 90vw;
  position: relative;
  display: flex;
  overflow: auto;
  margin: auto;
  border-radius: 0.4rem;
}
