body {
  font-family: -apple-system, BlinkMacSystemFont, 'solway,Segoe UI';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: 'solway, source-code-pro';
}
