body {
  font-family: -apple-system, BlinkMacSystemFont, 'solway,Segoe UI';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: 'solway, source-code-pro';
}
#notice_app{
  background-image: url("./assets/img/bg_logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}